.find-screen-header {
	position:relative;
	margin:0;
}

.find-screen {
	height:120vh;
}

.recommended-friends {
	border-bottom: 1px solid rgba(0,0,0,0.3);
	border-top: 1px solid rgba(0,0,0,0.3);
	padding : 25px 0px;
	margin : 25px 0px;
}

.recommended-friends__title {
	font-size: 15px;
	color :rgba(0, 0, 0, 0.4)
}

.recommended-friends span {
	margin:110px 0;
	text-align: center;
	font-size: 18px;
	display:block;
	color :rgba(0, 0, 0, 0.5)
}

.open-chat__header {
	display:flex;
	justify-content: space-between;
	opacity: 0.6;
	margin-bottom:25px;
}


.open-chat__header span {
	opacity: 0.6;
}

/*open post*/
.open-post {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.open-post__title {
	font-weight: 600;
	margin-bottom:10px;
}


.open-post__hashtags {
	text-transform: uppercase;
	opacity: 0.6;
}

.open-post__members {
	display: flex;
	align-items: center;
	margin-top:10px;
}

.open-post__members img {
	width:20px;
	height: 20px;
	border-radius: 50%;
	margin-right:5px;
}

.open-post__members-count {
	opacity:0.5;
	font-size:14px;
}

.open-post__members .divider {
	width:1px;
	height:15px;
	background-color: rgba(0, 0, 0, 0.2);
	margin:0px 5px;
}

.open-post__members-status {
	color:rgba(255, 0, 157);
}

.open-post__photo img {
	width:120px;
	height:120px;
	border-radius: 10px;
	position: relative;
}

.open-post__heart-count {
	color:white;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	border-radius: 10px;
	display:flex;
	align-items: center;
	justify-content: center;
	padding:5px;
	position:absolute;
	bottom:-58px;
	right:33px;
}
.open-post__heart-count span {
	margin-left: 5px;
}
