#friends-display-link {
	/*position:absolute;*/
	display:block;
	text-align: center;
	background-color:#fafafa;
	padding: 15px 0px;
	width:100%;
	
	/*z-index: 3;*/
}

#friends-display-link i {
	color:gray;
}
