.screen-header {
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin:0 0 15px 0;
	padding:var(--main-left-space);
	padding-top:50px;
}

.screen-header__title {
	font-size: 32px;
	font-weight: 600;
}

.screen-header__icons span {
	margin-left: 25px;
}

@keyframes rotate-cog {
	from{
		transform:none;
	}
	to{
		transform: rotateZ(360deg)
	}
}


@keyframes icon-shake {
	from{
		transform:rotateY(360deg);
	}
	to{
		transform: none;
	}
}


.fa-cog:hover{
	animation: rotate-cog 1s linear infinite;
}

.screen-header__icons i:hover {
	animation:icon-shake 1s ease-in-out infinite;
}
