
.welcome-header {
	margin:90px 0px;
	text-align: center;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-weight: 600;
}

.welcome-header__title {
	margin-bottom:40px;
	font-size: 25px;
}

.welcome-header__text {
	width:50%;
	opacity:0.6;
}


/* login Form part*/

.welcome-login {
	display:flex;
	flex-direction: column;
	margin:0px 50px;
}

.welcome-login input {
	padding: 15px 0px;
	border:none;
	font-size:18px;
	margin-bottom:25px;
	border-radius: 5px;
	/* 모든 input에 trasition적용 */
	/*border-bottom:1px solid rgba(0, 0, 0, 0.2);*/
	/*transition: border-color 0.3s ease-in-out;*/
}

/* type이 submit인 곳에는 적용하지 않는다.	*/
.welcome-login input:not([type="submit"]){
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	transition: border-color 0.3s ease-in-out;
}

.welcome-login input::placeholder{
	color:rgba(0, 0, 0, 0.2);
}

.welcome-login input:focus {
	border-color:rgba(0, 0, 0, 0.7);
	/*border-color: var(--mycolor);*/
}

.welcome-login input[type="submit"]{
	background-color: var(--mycolor);
	cursor:pointer;
	padding:20px 0;
	/*cursor:not-allowed,  prgress*/
}

.welcome-login a{
	text-align: center;
	text-decoration: none;
	margin-bottom: 90px;
	color:inherit;
	font-size:16px;
}
