.nav {
	padding:20px 40px;
	border-top: 1px solid rgba(173, 170, 170, 0.4);

	position: fixed;
	bottom:0;
	width:100%;
	box-sizing: border-box;
	background-color: white;
	/*fixed설정을 하고 width설정을 하면 옵션 버튼이 사라진다 그럴때
	box-sizing으로 해결 가능하다. */
	
}

.nav__ul {
	display:flex;
	justify-content: space-between;
}

.nav__a {
	color:inherit;
	position:relative;
	/*absolute 부모 Element*/
}


.nav__notification {
	position: absolute;
	left:15px;
	bottom:12px;
	/*
	width:20px;
	height:20px;
	크기를 주려면 block이여야 한다.
	display:flex;
	justify-content:center;
	align-items: center;
	*/
}
.nav__notification2 {
	position: absolute;
	right:-5px;
}
