.nav {
	padding:20px 40px;
	border-top: 1px solid rgba(173, 170, 170, 0.4);

	position: fixed;
	bottom:0;
	width:100%;
	box-sizing: border-box;
	background-color: white;
	/*fixed설정을 하고 width설정을 하면 옵션 버튼이 사라진다 그럴때
	box-sizing으로 해결 가능하다. */
	
}

.nav__ul {
	display:flex;
	justify-content: space-between;
}

.nav__a {
	color:inherit;
	position:relative;
	/*absolute 부모 Element*/
}


.nav__notification {
	position: absolute;
	left:15px;
	bottom:12px;
	/*
	width:20px;
	height:20px;
	크기를 주려면 block이여야 한다.
	display:flex;
	justify-content:center;
	align-items: center;
	*/
	animation:notification 0.8s ease-in-out infinite;
}

@keyframes notification {
	0%{
		transform: none;
	}
	50%{
		transform: translateY(-10px);
	}
	100%{
		transform: none;
	}
}

.nav__notification2 {
	position: absolute;
	right:-5px;
	animation:notification 0.8s ease-in-out infinite;
	
}

@keyframes appearBtnAnimation {
	from{
		/*transform: translateY(50px);*/
		opacity: 0;
	}
	to{
		opacity: 1;
		transform: none;
		/*transform: none;*/
	}
}

.nav__li {
	opacity: 0;
	transform: translateY(50px);
	animation: appearBtnAnimation 0.3s ease-in-out forwards;
}

.nav__li:nth-child(2) {
	animation-delay: 0.3s;
}

.nav__li:nth-child(3) {
	animation-delay: 0.6s;
}

.nav__li:last-child {
	animation-delay: 0.9s;
}
