.type {
	position:fixed;
	bottom:0;
	width:100%;
	background-color: white;
	display:flex;
	justify-content: space-between;
	padding:5px 25px;
	box-sizing: border-box;
	align-items: center;
	trasition:all 0.3s ease-in-out;
}

.type .type__column:first-child {
	width: 10%;
}

.type .type__column:last-child {
	width: 90%;
	position: relative;
}

/*부모인 column에서 width를 가지고 있지 않기에 위에 width를 입력 */
.type input {
	padding:10px;
	width:100%;
	border:1px solid rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	transition: all 0.3s ease-in-out;
}

.type__icon,
.type__column:last-child button {
	position: absolute;
	right:0px;
	top:7px;
}

.type__icon {
	right:30px;
	top:10px;
}

.type__column:last-child button {
	background-color: var(--mycolor);
	border:none;
	width:25px;
	height:25px;
	bottom:15px;
	border-radius: 50%;
}

.type__column button:focus,
.type__column button:active {
	outline:none;
}

.type__column button i {
	opacity: 1;
}
.type i {
	opacity: 0.7;
}

.type__column button:foucs,
.type__column button:active{
	outline:none;
}

.type:focus-within .type__column:first-child{
	opacity: 0;
	visibility: hidden;
}

.type .type__column:first-child,
.type .fa-smile-wink,
.type button{
	transition: opacity 0.5s ease-in-out;
}

.type:focus-within .type__column:first-child,
.type:focus-within .fa-smile-wink,
.type:focus-within button{
	opacity:0;
}
.type:focus-within input {
	width:90vw;
	transform:translateX(-10%) translateY(-80px);
}

.type:focus-within {
	transform:translateY(80px);
	/*이 트랜스폼을 .type에서 트랜지션으로 정해줘야 함.*/
}
